@import url("https://use.typekit.net/egv4cum.css");

* {
	box-sizing: border-box;
}

html, body {
	position: absolute;
	width:  100vw;
	height: 100vh;
	overflow: hidden;
}

html, body, canvas {
	margin:  0;
	outline: none;
	border:  none;
	padding: 0;
}

body {
	background-color: #DBE2E9;
	color: #080808;
	font-family: 
		HelveticaNow, 
		 system-ui, 
		-apple-system, 
		'Helvetica Neue', 
		'Helvetica', 
		'Arial', 
		 sans-serif;
}

canvas {
    height: 100vh;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

video {
	position: absolute;
	width: 1280px;
	height: 720px;
}

.webcam-container{
    height: 100vh;
    width: 100vw;
}

#background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	background-color:rgba(255, 255, 255, 25%);
}

#hand {
	position: absolute;
	z-index: 5;
	opacity: 60%;
  	transform: rotate(275deg);
	width: 100vh;
	right: -15vw;
	bottom: 8vh;
}

#cursor {
	position: absolute;
	z-index: 4;
	width: 5vw;
	height: 5vw;
	top: 45vw;
	left: 45vw;
}

#full-button {
	z-index: 4;
	position: absolute;
	width: 2em;
	height: 2em;
	right: 1em;
	top: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5em;
}

#full-button img {
	padding: 0.5rem;
	width: 2.25em;
	height: 2.25em;
}

main {
	position: absolute;
	top:      10%;
	left:    12.5%;
	width:   75%;
	height: 75%;
	background-color: #E6E6E6;
	padding: 60px 90px 60px 75px;
	font-size:   16px;
	line-height: 140%;
	font-weight: 300;
	overflow: auto;
	box-shadow: 0px 0px 12px hsla( 0, 0%, 0%, 0.5 );
	border-radius: 50px;
}

ol {
	margin-left: 50px;
	margin-right: 100px;
}

/* TYPOGRAPHY */

code {
	background-color: rgba(255, 173, 126, 50%);
	padding: 2px 4px;
	color: black;
}

main li + li {
	margin-top: 20px;
}

a {
	color: #1F7A8C;
}

h1, h2 {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 3;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
}

h1 {
	font-family: HelveticaNowMedium;
	text-shadow:
   		-1px -1px 0 rgba(255,255,255,0.25),  
    	1px -1px 0 rgba(255,255,255,0.25),
    	-1px 1px 0 rgba(255,255,255,0.25),
    	1px 1px 0 rgba(255,255,255,0.25);
	font-size: 2rem;
	top: 2.5vh;
}

h2 {
	font-family: aktiv-grotesk;
	font-size: 3rem;
	margin-bottom: 0;
	bottom: 3vh;
	font-weight: 300;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
}

h3 {
	size: 24px;
}

#updatenote {
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	top: 35%;
	font-weight: 300;
	font-family: aktiv-grotesk;
	font-size: 24px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
}

#loading {
	position: absolute;
	z-index: 3;
	text-align: center;
	width: 10vw;
	left: 45vw;
	top: 45%;
	animation: rotation 2s infinite linear;
}

strong {
	font-family: HelveticaNowBold;
}

.hidden {
	display: none;
}

.fadeOut {
	animation: fadeOut ease 1s !important;
	-webkit-animation: fadeOut ease 1s !important;
	-moz-animation: fadeOut ease 1s !important;
	-o-animation: fadeOut ease 1s !important;
	-ms-animation: fadeOut ease 1s !important;
}

.fadeIn {
	animation: fadeIn ease 3s !important;
	-webkit-animation: fadeIn ease 3s !important;
	-moz-animation: fadeIn ease 3s !important;
	-o-animation: fadeIn ease 3s !important;
	-ms-animation: fadeIn ease 3s !important;
}

.score {
	animation: score ease 1s !important;
}

@font-face {
    font-family: HelveticaNow;
    src: url("./fonts/HelveticaNowText-Regular.otf") format("opentype");
}

@font-face {
    font-family: HelveticaNowBold;
    src: url("./fonts/HelveticaNowText-Bold.otf") format("opentype");
}

@font-face {
    font-family: HelveticaNowBlack;
    src: url("./fonts/HelveticaNowText-Black.otf") format("opentype");
}

@font-face {
    font-family: HelveticaNowMedium;
    src: url("./fonts/HelveticaNowText-Medium.otf") format("opentype");
}

@keyframes score {
	0% {
		transform: scale(1);
	  }
	  50% {
		transform: scale(1.5);
	  }
	  100% {
		transform: scale(1);
	  }
  }

@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

@keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@-moz-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@-webkit-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@-o-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}
  
@-ms-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
}

@keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
}
  
@-moz-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
}
  
@-webkit-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
}
  
@-o-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
}
  
@-ms-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
}